#text {
  margin: 10% 25% auto 25%;
  font-size: 3rem;
  text-align: center;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 400px;
  height: 520px;
  background: #f5f5f5;
  z-index: 2;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);
  animation: popup 300ms ease-in-out;
}

body.showSignupForm #sign-up-overlay {
  display: block;
}

body.showSigninForm #sign-in-overlay {
  display: block;
}

body.showSigninForm #sign-in-overlay > .popup {
  height: 450px;
}

@keyframes popup {
  from {
    opacity: 0;
    top: -150%;
    transform: translate(-50%, -50%) scale(1.15);
  }
  to {
    opacity: 1;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
  }
}

.popup .popup-close {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 40px;
  height: 40px;
  background: #555;
  color: #f5f5f5;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
}

.popup .form .header {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #222;
  margin: 20px 0px;
}

.popup .form .element {
  padding: 15px 20px;
}

.popup .form .element .element-label {
  position: absolute;
  left: 31px;
  margin-top: 9px;
  transition: all 0.2s ease-out;
  pointer-events: none;
  color: #8b8b8b;
}

.popup .form .element input {
  width: 100%;
  padding: 8px 10px;
  box-sizing: border-box;
  font-size: 15px;
  outline: none;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 5px;
  height: 40px;
}

.popup .form .element input:focus ~ span,
.popup .form .element input:valid ~ span {
  margin-top: -27px;
  left: 27px;
  font-size: 20px;
}

#sign-up {
  margin-top: 5px;
  width: 30%;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: #4889da;
  color: #f5f5f5;
  height: 50px;
  margin: 0 auto;
  display: block;
  float: none;
  transition: transform 150ms ease-in-out;
}

#sign-in {
  margin-top: 5px;
  width: 100%;
  text-transform: uppercase;
  outline: none;
  border: none;
  font-size: 15px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  background: #4889da;
  color: #f5f5f5;
  height: 50px;
  margin: 0 auto;
  display: block;
  float: none;
  transition: transform 150ms ease-in-out;
}

#sign-up.left {
  transform: translateX(100%);
}

#sign-up.right {
  transform: translateX(-100%);
}

#checkbox {
  width: 16px;
}

#terms-and-cond {
  position: absolute;
  margin-top: 0px;
  margin-left: 5px;
  color: #232323;
}

#remember-me {
  color: #232323;
}

#create-account {
  text-align: center;
  margin-top: -20px;
}

#create-account p:not(#log-error-text, #reg-error-text) {
  cursor: pointer;
  color: #232323;
  width: max-content;
  margin: 15px auto;
}

@media only screen and (max-width: 600px) {
  #text {
    font-size: 2rem;
    margin: 10% 5% 10% 5%;
  }

  #sign-up.left,
  #sign-up.right {
    transform: translateX(0);
  }

  .popup {
    width: 360px;
  }

}

.error-text {
  text-align: center;
  color: red;
  font-weight: bold !important;
  font-size: 20px;
}
