@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap");

html,
body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

body.light {
  background: #fafafa;
  color: #202020;
}

body.dark {
  background: #202020;
  color: #fafafa;
}

.nav-bar {
  background-color: #202020;
  color: #fafafa;

  display: flex;
  justify-content: space-between;

  padding: 18px 32px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions button {
  padding: 6px 12px;
}

.nav-bar h1 {
  margin: 0;
}

.light-options {
  font-size: 30px;
  transform: translate(-50%, 0);
  left: 50%;
  top: 10px;
  cursor: pointer;
  margin: 0;
}

.container {
  height: 600px;
  margin: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container > button {
  width: 200px;
  height: 50px;
  margin-bottom: 5%;
}

.btn {
  background: #232323;
  border: none;
  border-radius: 5px;
  color: #fafafa;
  font-size: 20px;
  cursor: pointer;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: #202020;
  color: white;
  text-align: center;
  display: flex;
  justify-content: left;
  align-items: center;
}

.footer > p {
  vertical-align: middle;
  padding-left: 60px;
}

a {
  text-decoration: none;
  color: white;
}

body.dark .btn {
  background: #fafafa;
  color: #232323;
}

#light {
  display: none;
}